<h1>Serviços</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Categoria</th>
      <th>Pacote</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @services.includes(:contract_type).each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.description %></td>
        <td><%= format_package(service.category) %></td>
        <td><%= service.contract_type.name %></td>
        <td><%= link_to image_tag('visualizar.png'), service %></td>
        <td><%= link_to image_tag('editar.png'), edit_service_path(service) %></td>
        <td><%= link_to image_tag('deletar.png'), service, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo serviço', new_service_path %>