<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= format_package(@service.category) %>
</p>

<p>
  <strong>Pacote:</strong>
  <%= @service.contract_type.name %>
</p>

<p>
  <strong>Empresas:</strong><br>
  <% @service.contract_type.contracts.includes(:enterprise).select(:enterprise_id).group(:enterprise_id).each do |contract| %>
  	<%= contract.enterprise.corporate_name %><br>
  <% end %>
</p>

<%= link_to 'Editar', edit_service_path(@service) %> |
<%= link_to 'Voltar', services_path %>