<%= simple_form_for(@contract) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.label :enterprise_id %>
    <%= f.collection_select :enterprise_id, @enterprises, :id, :corporate_name %>
    <%= f.label :contract_type_id %>
    <%= f.collection_select :contract_type_id, @types, :id, :name %>
    <%= f.input :start_date %>
    <%= f.input :due_date %>
    <%= f.input :monthly_payment %>
    <%= f.hidden_field :current_value, :value => @contract.monthly_payment %>
    <%= f.input :sla %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>