<h1>Contratos cadastrados</h1>

<table>
  <thead>
    <tr>
      <th>Empresa</th>
      <th>Situação</th>
      <th>Tipo</th>
      <th>Descrição do tipo de contrato</th>
      <th>Data de início</th>
      <th>Data de vencimento</th>
      <th>Valor mensal</th>
      <th>Valor atual</th>
      <th>SLA</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contracts.each do |contract| %>
      <tr>
        <td><%= contract.enterprise.corporate_name %></td>
        <td><%= contract.status %></td>
        <td><%= contract.contract_type.name %></td>
        <td><%= contract.contract_type.description %></td>
        <td><%= format_date(contract.start_date) %></td>
        <td><%= format_date(contract.due_date) %></td>
        <td><%= contract.monthly_payment %></td>
        <td><%= contract.current_value %></td>
        <td><%= contract.sla %></td>
        <td><%= link_to image_tag('visualizar.png'), contract %></td>
        <% if contract.amendments.empty? %>
          <td><%= link_to image_tag('editar.png'), edit_contract_path(contract) %></td>
        <% else %>
          <td></td>
        <% end %>  
        <td><%= link_to 'Aditar', new_amendment_path(contract)  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Novo Contrato', new_contract_path %>