<p id="notice"><%= notice %></p>

<p>
  <strong>Empresa:</strong>
  <%= @contract.enterprise.corporate_name %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @contract.contract_type.name %>
</p>

<p>
  <strong>Data de início:</strong>
  <%= @contract.start_date %>
</p>

<p>
  <strong>Data de vencimento:</strong>
  <%= @contract.due_date %>
</p>

<p>
  <strong>Valor mensal:</strong>
  <%= @contract.monthly_payment %>
</p>

<p>
  <strong>SLA:</strong>
  <%= @contract.sla %>
</p>

<% unless @contract.amendments.empty? %>
  <h2>Aditamentos</h2><hr>
  <ul>
    <% @contract.amendments.each do |amendment| %>
      <li><%= "Número do aditamento: #{amendment.number}" %></li>
      <li><%= "Data de início: #{format_date(amendment.start_date)}" %></li>
      <li><%= "Data de vencimento: #{format_date(amendment.end_date)}" %></li>
      <li><%= "Valor: #{amendment.value}" %></li>
      <hr>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Editar', edit_contract_path(@contract) %> |
<%= link_to 'Voltar', contracts_path %>