<%= simple_form_for(@contract_type) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :value %>
    <%= f.label :value_type %>
    <%= f.select(:value_type, options_for_select([["Hora", "H"], ["Dia", "D"], ["Mês", "M"], ["Ano", "Y"]])) %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>