<h1>Lista de Pacotes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Valor</th>
      <th>Tipo do valor</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contract_types.each do |contract_type| %>
      <tr>
        <td><%= contract_type.name %></td>
        <td><%= contract_type.description %></td>
        <td><%= contract_type.value %></td>
        <td><%= format_package(contract_type.value_type) %></td>
        <td><%= link_to image_tag("visualizar.png"), contract_type %></td>
        <td><%= link_to image_tag("editar.png"), edit_contract_type_path(contract_type) %></td>
        <td><%= link_to image_tag("deletar.png"), contract_type, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Pacote', new_contract_type_path %>