<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @contract_type.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @contract_type.description %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @contract_type.value %>
</p>

<p>
  <strong>Tipo de valor:</strong>
  <%= format_package(@contract_type.value_type) %>
</p>

<%= link_to 'Editar', edit_contract_type_path(@contract_type) %> |
<%= link_to 'Voltar', contract_types_path %>
