<%= simple_form_for(@enterprise) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name, label: 'Nome' %>
    <%= f.input :corporate_name, label: 'Razão Social' %>
    <%= f.input :phone, label: 'Telefone' %>
    <%= f.input :cnpj, label: 'CNPJ' %>
    <%= f.input :state_registration, label: 'Inscrição Estadual' %>
    <%= f.input :adress, label: 'Endereço' %>
    <%= f.input :number, label: 'Número' %>
    <%= f.input :district, label: 'Bairro' %>
    <%= f.input :city, label: 'Cidade' %>
    <%= f.input :cep, label: 'CEP' %>
    <%= f.label :user_id, 'Usuário' %>
    <%= f.collection_select(:user_id, @users, :id, :email, {include_blank: true}) %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>