  <h1>Listing enterprises</h1>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Nome Fantasia</th>
        <th>Telefone</th>
        <th>CNPJ</th>
        <th>Inscrição Estadual</th>
        <th>Endereço</th>
        <th>Número</th>
        <th>Bairro</th>
        <th>Cidade</th>
        <th>CEP</th>
        <th>Usuário</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @enterprises.each do |enterprise| %>
        <tr>
          <td><%= enterprise.name %></td>
          <td><%= enterprise.corporate_name %></td>
          <td><%= enterprise.phone %></td>
          <td><%= enterprise.cnpj %></td>
          <td><%= enterprise.state_registration %></td>
          <td><%= enterprise.adress %></td>
          <td><%= enterprise.number %></td>
          <td><%= enterprise.district %></td>
          <td><%= enterprise.city %></td>
          <td><%= enterprise.cep %></td>
          <td><%= enterprise.user.email %></td>
          <td><%= link_to 'Visualizar', enterprise %></td>
          <td><%= link_to 'Editar', edit_enterprise_path(enterprise) %></td>
          <td><%= link_to 'Excluir', enterprise, method: :delete, data: { confirm: 'Tem certeza que deseja realizar a exclusão?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'Nova Empresa', new_enterprise_path %>