<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @enterprise.name %>
</p>

<p>
  <strong>Nome Fantasia:</strong>
  <%= @enterprise.corporate_name %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @enterprise.phone %>
</p>

<p>
  <strong>CNPJ:</strong>
  <%= @enterprise.cnpj %>
</p>

<p>
  <strong>Inscrição Estadual:</strong>
  <%= @enterprise.state_registration %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @enterprise.adress %>
</p>

<p>
  <strong>Número:</strong>
  <%= @enterprise.number %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @enterprise.district %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @enterprise.city %>
</p>

<p>
  <strong>CEP:</strong>
  <%= @enterprise.cep %>
</p>

<p>
  <strong>Usuário:</strong>
  <%= @enterprise.user.email %>
</p>

<a href="#" class="contracts-enterprise-button">Contratos | </a>
<div class="contracts-enterprise">
  <strong>Contratos:</strong><br/>
  <ul>
    <% @enterprise.contracts.each do |contract| %>
      <li><%= "Tipo de contrato: #{contract.contract_type.name}" %></li>
      <li><%= "Cálculo do contrato: #{format_package(contract.contract_type.value_type)}" %></li>
      <li><%= "Data de início: #{format_date(contract.start_date)}" %></li>
      <li><%= "Data de vencimento: #{format_date(contract.due_date)}" %></li>
      <li><%= "Valor mensal: #{contract.monthly_payment}" %></li>
      <li><%= "SLA: #{contract.sla}" %></li>
      <hr>
    <% end %>
  </ul>
</div>

<%= link_to 'Editar', edit_enterprise_path(@enterprise) %> |
<%= link_to 'Voltar', enterprises_path %>