<%= simple_form_for(@amendment) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :start_date %>
    <%= f.hidden_field :contract_id, :value => params[:contract_id] %>
    <%= f.input :end_date %>
    <%= f.input :value %>
    <%= f.input :title %>
    <%= f.hidden_field :number, :value => 0 %>
  </div>

  <div class="actions">
    <%= f.button :submit, 'Criar aditamento' %>
  </div>
<% end %>