<%= simple_form_for(@amendment) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :contract_id %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :value %>
    <%= f.input :number %>
    <%= f.input :title %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
