<%= simple_form_for(@amendment) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :start_date, label: 'Data de início', selected: @start_date, order: [:day, :month, :year]  %>
    <%= f.hidden_field :contract_id, :value => params[:contract_id] %>
    <%= f.input :end_date, label: 'Data do término', as: :date, selected: @end_date, order: [:day, :month, :year] %>
    <%= f.input :value, label: 'Valor', placeholder: '###.##'%>
    <%= f.input :title, label: 'Título' %>
  </div>
  <div class="actions">
    <%= f.button :submit, 'Criar aditamento' %>
  </div>
<% end %>